<div class='panel panel-default '>
  <div class='panel-heading'>
      {{pageTitle}}
  </div>
  <div class='panel-body'>    
   <div class='table-responsive'>
          <table class='table'
                  *ngIf='boardList && boardList.length'>
              <thead>
                  <tr>                        
                      <th>Name</th>
                      
                      <th>Tasks</th>                        
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let board of boardList'>
                         <td>
                           <a [routerLink]="['/boards', board.Id]">
                              {{ board.Name }}
                          </a>
                        </td>
                        <td>{{ board.TasksCount }}</td>                 
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>